.priceWrapper {
  font-size: 0.8em;
  /* margin-top: 8px;
    margin-bottom: 2rem; */
}
.priceSymbol {
  box-sizing: border-box;
  position: relative;
  font-size: 1em;
}
.price {
  margin-left: 0.2em;
}
