.productBox {
  box-shadow: 0 0 2em rgb(0 0 0 / 42%);
  margin: 10px;
  padding: 5px;
}
.centerLoading {
  left: 40vw;
  top: 30vh;
  position: fixed;
}
/* small */
@media (max-width: 600px) and (orientation: portrait) {
  .centerLoading {
    left: -3em;
  }
}
/* ipad */
@media (min-width: 600px) and (max-width: 1000px) {
  .centerLoading {
    left: 20vw;
  }
}
